<template>
  <div>
      <div class="wrapper">
        <div class="categoria" v-for="categoria in categorias" :key="categoria.id">
            <div class="coverage" @click="enterCategory(categoria)">
                {{categoria.nombre}}
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'pantalla1',
  data: function(){
    return{
        categorias: this.$store.state.categorias
    }
  },
  methods:{
      enterCategory: function(elem){
          this.$store.commit('setCategoriaSeleccionada', elem.id);
          this.$router.push("/categoria/"+elem.id);
      }
  } 
}
</script>

<style scoped lang="scss">
.categoria{
    position:relative;
    height: 10vw;
    width: 10vw;
    display: inline-block;
    margin: 1vw;
    font-size: 1.25vw;
    color: white;
    font-family: mbold;
    background-image: url(../assets/wh.png);
    background-size: cover;
}
.coverage{
    position:absolute;
    height: 100%;
    width: 100%;
    padding: 1vw;
    background: rgba(0,0,0,0.5);
}
.wrapper{
    position: relative;
    height: auto;
    width: 90%;
    top: 3vw;
    margin: auto;
}
</style>
