<template>
  <div>
      
      <div class="wrapper">
          <div class="encabezado">
            <h1 class="titulo_seccion">
                {{categoriaSeleccionada.nombre}} 
            </h1>

            <router-link to="/">
                <i class="fa fa-arrow-circle-left"></i> Atras
            </router-link>
          </div>

        <div class="producto" v-for="(elem, index) in productos" :key="index">
            <div class="coverage" @click="addProduct(elem)">
                {{elem.nombre}}
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'categoria',
  data: function(){
    return{
        categoriaSeleccionada:'',
        productos: []
    }
  },
  methods:{
      addProduct: function(producto){
          this.$store.commit("addProductToOrder", {
              id: producto.id
          });
      }
  }, 
  created(){
      for(let n = 0; n < this.$store.state.productos.length; n++)
      {
          let prod = this.$store.state.productos[n];
          if(prod.categoria_id == this.$route.params.id)
          {
              prod.unidad = 1;
              this.productos.push(prod);
          }          
      }
      for(let n = 0; n < this.$store.state.categorias.length; n++)
      {
          let categoria = this.$store.state.categorias[n];
          if(categoria.id == this.$route.params.id)
          {
              this.categoriaSeleccionada = categoria
          }          
      }      
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.producto{
    position:relative;
    height: 10vw;
    width: 10vw;
    display: inline-block;
    margin: 1vw;
    font-size: 1.25vw;
    color: white;
    font-family: mbold;
    background-image: url('../assets/wh.png');
    background-size: cover;
}
.coverage{
    position:absolute;
    height: 100%;
    width: 100%;
    padding: 1vw;
    background: rgba(0,0,0,0.5);
}
.wrapper{
    position: relative;
    height: auto;
    width: 90%;
    top: 3vw;
    margin: auto;
}
.titulo_seccion{
    font-size: 4vh;
    color: rgb(233, 97, 7);
}
.encabezado{
    display: block;
    width: 100%;
    height: auto;
}
.encabezado h1{
    display: inline-block;
    margin-right: 1vw;
}
.encabezado router-link{
    display: inline-block;
    left: 50px;
}
</style>
