<template>
  <div>
    <div class="contenedor">
      <div class="barra1">
        <div class="menu">
          <div class="seccion_a">            

            <h1><span class="mBold">{{cliente}}</span></h1>
            <p><span class="naranja">Cliente</span> | Mesa {{mesa}}</p>
            <h1><span class="mBold">{{cedula}}</span></h1>
            <p><span class="naranja">Cédula</span></p>
            <br>

            <div class="contenedor_de_tabla seleccionados">
              <table class="table is-narrow is-fullwidth">
                <thead class="thead mBold">
                  <th>{{cabeceras1[0]}}</th>
                  <th>{{cabeceras1[1]}}</th>
                  <th>{{cabeceras1[2]}}</th>
                  <th class="naranja">{{cabeceras1[3]}}</th>
                </thead>

                <tbody class="tbody">

                  <tr class="tr" v-for="(producto, index) in orden" :key="index">
                    <td>
                      {{producto.nombre}}
                    </td>

                    <td id="unidades" >
                      <input type="text" id="unidad" v-model="producto.unidad" :data-index="index" :data-id="producto.id" @focus="inputFocus" @input="updateField">
                    </td>

                    <td id="precio">
                      <input type="text" id="precioUnidad" v-model="producto.precioUnidad" :data-index="index" :data-id="producto.id" @focus="inputFocus" @input="updateField">
                    </td>

                    <td >
                      {{producto.total}}
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>

                
          </div>
          <div class="seccion_b">
            <table class="table is-narrow">
              <thead class="mBold">
                <th>{{cabeceras2[0]}}</th>
                <th>{{cabeceras2[1]}}</th>
                <th>{{cabeceras2[2]}}</th>
                <th class="naranja">{{cabeceras2[3]}}</th>
              </thead>
              <tbody class="">
                <tr class="">
                  <td>{{articulos}}</td>
                  <td>{{subtotal}}</td>
                  <td>{{impuesto}}</td>
                  <td>{{total}}</td>
                </tr>
              </tbody>

            </table>

          </div>
          <div class="seccion_c">
            <div class="botonSeleccion">
              <input type="radio" name="teclado" data-teclado="1" @click="seleccionarTeclado">123
              <input type="radio" name="teclado" data-teclado="2" @click="seleccionarTeclado">ABC
            </div>
            <div class="tecladoNumerico"  v-if="numerico">
              <table class="numeros">
                <tr>
                  <td><div @click="clickInput">1</div></td>
                  <td><div @click="clickInput">2</div></td>
                  <td><div @click="clickInput">3</div></td>
                </tr>
                <tr>
                  <td><div @click="clickInput">4</div></td>
                  <td><div @click="clickInput">5</div></td>
                  <td><div @click="clickInput">6</div></td>
                </tr>
                <tr>
                  <td><div @click="clickInput">7</div></td>
                  <td><div @click="clickInput">8</div></td>
                  <td><div @click="clickInput">9</div></td>
                </tr>
              </table>                       
              <table class="extras" style="color:orangered">
                <tr>
                  <td><span @click="clickInput">00</span></td>
                  <td><span @click="clickInput">+</span></td>
                </tr>
                <tr>
                  <td><span @click="clickInput">0</span></td>
                  <td><span @click="clickInput">-</span></td>
                </tr>
                <tr>
                  <td><span @click="clickInput">.</span></td>
                  <td><span><a href="" @click.prevent="deleteBack"><</a></span></td>
                </tr>
              </table>           
            </div>

            <table class="tecladoAlfanumerico" v-if="alfanumerico">
              <tr>
                <td><div @click="clickInput">Q</div></td>
                <td><div @click="clickInput">W</div></td>
                <td><div @click="clickInput">E</div></td>
                <td><div @click="clickInput">R</div></td>
                <td><div @click="clickInput">T</div></td>
                <td><div @click="clickInput">Y</div></td>
                <td><div @click="clickInput">U</div></td>
                <td><div @click="clickInput">I</div></td>
                <td><div @click="clickInput">O</div></td>
                <td><div @click="clickInput">P</div></td>
              </tr>
              <tr>
                <td><div @click="clickInput">A</div></td>
                <td><div @click="clickInput">S</div></td>
                <td><div @click="clickInput">D</div></td>
                <td><div @click="clickInput">F</div></td>
                <td><div @click="clickInput">G</div></td>
                <td><div @click="clickInput">H</div></td>
                <td><div @click="clickInput">J</div></td>
                <td><div @click="clickInput">K</div></td>
                <td><div @click="clickInput">L</div></td>
                <td><div @click="clickInput">Ñ</div></td>
              </tr>
              <tr>
                <td><div @click="clickInput">@</div></td>
                <td><div @click="clickInput">Z</div></td>
                <td><div @click="clickInput">X</div></td>
                <td><div @click="clickInput">C</div></td>
                <td><div @click="clickInput">V</div></td>
                <td><div @click="clickInput">B</div></td>
                <td><div @click="clickInput">N</div></td>
                <td><div @click="clickInput">M</div></td>
                <td><div @click="clickInput">,</div></td>
                <td><div @click="clickInput">.</div></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="contenido">
          <div class="busqueda">
            <input type="text" name="textoBusqueda" id="textoBusqueda" @focus="inputFocus">
          </div>
          <div class="seleccion">
            <router-view></router-view>
          </div>
        </div>
      </div>
      <div class="barra2">
        <div class="flechas izquierda"><</div>
        <div class="botones">
          <div class="boton">BackOffice</div>
          <div class="boton">Cobrar</div>
          <div class="boton">Cliente</div>
          <div class="boton">Borrar</div>
          <div class="boton">Descuento por linea</div>
          <div class="boton">Exonerar impuesto</div>
          <div class="boton" @click="close">Salir</div>
        </div>
        <div class="flechas derecha">></div>
      </div>
      <div class="barra3">
        <div class="estado">Soporte Mundoware</div>
        <div class="estado">Caja 1</div>
        <div class="estado">Local</div>
        <div class="estado">17-05-89 04:55</div>
      </div>
    </div>
  </div>
</template>

<script>
import { isNumber } from 'util';
export default {
  name: 'pantalla1',
  data: function(){
    return{
      cliente: "Ricardo Restrepo",
      cedula: "V19607174",
      tax: 15,
      mesa: 1,
      inputActive: '',
      numerico: true,
      buffer: '',
      valorEditable: '',
      alfanumerico: false,
      cabeceras1: [
        "Descripción",
        "Unidad",
        "Precio",
        "Total"
      ],
      cabeceras2: [
        "Artículos",
        "Subtotal",
        "Impuesto",
        "Total"
      ],
      resumen: {
        cantidad: 0,
        subtotal: 0,
        impuesto: 0,
        total: 0
      },
      w: this.$electron.remote.getCurrentWindow()
    }
  },

  methods:{
    seleccionarTeclado: function(e)
    {
      let teclado_id = e.target.getAttribute("data-teclado");
      if (teclado_id == 1)
      {
          this.alfanumerico = false;
          this.numerico = true;        
      } else if(teclado_id == 2 && this.inputActive != 'unidad' && this.inputActive != 'precioUnidad')
      {
          this.numerico = false;
          this.alfanumerico = true;
      }
      else{
          e.target.checked = false;
          this.alfanumerico = false;
          this.numerico = true;    

      }
    },
    close: function(){
      this.$electron.remote.getCurrentWindow().close()
    },
    deleteBack: function(e){
      let elem = this.inputActive;
      let value = elem.value;

      if(value.length == 1)
        elem.value = 0;
      else
        elem.value = value.substring(0, value.length - 1);      

      var event = document.createEvent('Event');
      event.initEvent('input', true, true);
      elem.dispatchEvent(event);    
    },
    clickInput: function(e)
    {
        let elem = this.inputActive;

        if(elem == null)
         return 0; 

        let currentValue = elem.value;

        let newValue = e.target.textContent;   

        if(currentValue == null)
          currentValue = '';

        let finalValue = currentValue + newValue;
        elem.value = finalValue;
          
        var event = document.createEvent('Event');
        event.initEvent('input', true, true);
        elem.dispatchEvent(event);        
     
    },
    inputFocus: function(e)
    {
      this.inputActive = e.target;
    },
    updateField: function(e){
      let index = e.target.dataset.index;
      let propiedad = e.target.id;
      let valor = e.target.value;
      this.$store.commit('uploadField', {
        index: index,
        propiedad: propiedad,
        cantidad: valor
      });
    }
  },
  created(){
  },
  computed: {
    orden: function(e)
    {
      return this.$store.state.orden;
    },
    articulos: function(){
      let suma = 0;
      for(let n = 0; n < this.orden.length; n++)
      {
        suma += parseFloat(this.orden[n].unidad);
      }
      return suma;
    },
    subtotal: function(){
      let suma = 0;
      for(let n = 0; n < this.orden.length; n++)
      {
        suma += parseFloat(this.orden[n].total);
      }
      return suma.toFixed(2);
    },
    impuesto: function(){
      return (this.tax * this.subtotal / 100).toFixed(2);
    },
    total: function(){
      return (parseFloat(this.subtotal) + parseFloat(this.impuesto)).toFixed(2)
    }
  }
}
</script>

<style scoped lang="scss">
.contenedor{
  position: absolute;
  height: 100%;
  width: 100%;
}
.barra1{
  position: relative;
  height: 85%;
  width: inherit;
}
.barra2{
  position: relative;
  height: 10%;
  width: inherit;
  background: linear-gradient(to right,#050a59, #2d23f4);
  color: black;
  font-size: 2vw; 
}
.barra3{
  position: relative;
  height: 5%;
  width: inherit;
  background: rgb(197, 197, 197);
}
.estado{
  position: relative;
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: 1vh;
}
.menu{
  position:relative;
  float: left;
  height: 100%;
  width: 30%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(238, 238, 238));
}
.contenido{
  position: relative;
  float: left;
  height: 100%;
  width: 70%;
}

.seccion_a{
  position: relative;
  height:45%;
  width: 100%;
  padding: 5%;
  font-size:1.1vw
}
.seccion_b{
  position: relative;
  height: 10%;
  width: 100%;
  background: rgb(255, 255, 255);
  font-family: mbold;
  font-size: 1.1vw;
  padding-left: 2vw;
}
.seccion_b table th{
  color: white
}
.seccion_b table td{
  color: black
}
table{
  background: none;
}
.seccion_c{
  position: relative;
  height: 45%;
  width: 100%;
}
.busqueda{
  position: relative;
  width: 100%;
  height: 8%;
  padding: 1%;
}

.naranja{
  color: rgb(244, 73, 11);
}

.contenedor_de_tabla{
  position: relative;
  width: 100%;
  height:55%;
  overflow-y: auto;
}
.seleccion{
  position: relative;
  height: 100%;
  width: 100%;
}
.mBold{
  font-family: mBold
}

.tecladoNumerico{
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
}
.numerico{
  position: relative;
  float: left;
  height: 65%;
  width: 50%;
}
.numeros
{
  position: relative;
  float: left;
  width: 60%;
  height: auto;
}
table.extras{
  position: relative;
  float: left;
  width: 40%;
  height: auto;
  background-color: rgba(#505050, 0.1)
}
.extras td{
  width: 100%;
}
.tecladoNumerico td{
  position: relative;
  height: auto;
  width: 33.33%;
  display: inline-block;
  text-align: center;
  font-size: 3vw;
}
.extras td{
  width: 50% !important;
}
.extras td:active{
  background: rgba(#8a8684, 0.5);
}
.tecladoAlfanumerico{
  position: relative;
  height: 65%;
  width: 95%;
  margin:auto;
}
.tecladoAlfanumerico td{
  position: relative;
  height: auto;
  width: 10%;
  display: inline-block;
  text-align: center;
  font-size: 2.75vw;
  color: black;
  background: rgba(#d6d6d6, 0.4);
}
.botonSeleccion{
  position: relative;
  width: auto;
  height: 15%;
  text-align: center;
  padding: 5%;
  margin:auto;
  bottom: 5%;
}
.tecladoNumerico td:active{
  background: rgba(#8a8684, 0.5);
}
.tecladoAlfanumerico td:active{
  background: rgba(#8a8684, 0.5);
}

.contenedor_de_tabla input{
  width: 100%;
}

#textoBusqueda{
  border: none;
  height: 4vh;
  width: 80%;
  padding: 10px;
  background: rgba(#e6e4e3, 0.5)
}

#unidad, #precioUnidad{  
  border: none;
  background: rgba(#e6e4e3, 0.5)
  
}

.flechas{
  position: relative;
  width: 5%;
  height: 100%;
  color: black;
  font-family: mbold;
  text-align: center;
  padding: 1%;
  color:white;
}
.flechas:active{
  background: rgba(#505050, 0.4);
}

.izquierda{
  float: left;
}
.derecha{
  float: right;
}
.botones{
  position: relative;
  float: left;
  width: 90%;
  height: 100%;
}
.boton{
  position: relative;
  float: left;
  width: 14.28%;
  padding:1%;
  height: 100%;
  text-align: center;
  font-size: 1vw;
  vertical-align: baseline;
  line-height: 4vh;
  font-size: 2.2vh
}
.boton > img{
  position: relative;
  display: inline-block;
  width: 20%;
  height: auto;
}
.boton:active{
  background: rgba(#0e196b, 0.4);
}
</style>
