<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'quinto-intento'
  }
</script>

<style lang="scss">
  @import url('../../node_modules/bulma/css/bulma.min.css');

  @font-face {
    font-family: mlight;
    src: url('/static/fuentes/Montserrat-Light.ttf');
  }
  @font-face {
    font-family: mbold;
    src: url('/static/fuentes/Montserrat-Bold.ttf');
  }

  *{
    padding: 0;
    margin: 0;
    font-family: mlight
  }
  body, html{
    position: absolute;
    height: 100%;
    width: 100%;

    font-family: verdana;
    overflow: hidden;
  }
</style>
